.Main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1581508512961-0e3b9524db40?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    position: relative;
}

.Welcome {
    color: rgb(15, 15, 15);
    font-size: 1.5em;
    text-shadow: 3px 3px 10px #d1d1d1,
    -2px 1px 30px #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Main::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

 /* For Services Section */

.Catalog {
    text-align: center;
    padding: 20px;
    color: whitesmoke;
  }

.Catalog h2 {
    font-size: 3em;
}
  
.Carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
  
.serv1 {
    margin: 10px;
    flex: 1 1 300px;
    text-align: center;
   
}
  
.Catalog img {
    max-width: 100%;
    height: auto;
}
  
.Des {
    margin-top: 10px;
}
  
  /* Responsive Styles */
@media (max-width: 768px) {
    .Carousel {
      flex-direction: column;
}
  
.serv1 {
      flex: none;
      width: 100%;
    }
}


  /* for location section */

.Loc{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    position: relative;
    top: 30px;
}

.Loc h2{
    font-size: 3em;
    color: black;
}  

.LocCont {
    display: flex;
    flex: 1;
    position: relative;
    right: 350px;
}

.MapLoc {
 flex: 1;
 /* background-color: red; */
 padding: 150px;
 padding-right: 10%;
 padding-left: 40%;
 margin-right: 20px;
}

.StoreLoc {
    /* background-color: aqua; */
    flex: 1;
    padding: 20px;
    white-space: nowrap; 
    position: relative;
    top: 300px;
}


.StoreLoc div{
    display: flex;
    align-items: center; 
    margin-bottom: 10px; 
}
.StoreLoc span{
    margin-right: 10px;
}


/* for About section */
.About {
    position: relative;
    top:500px;
    height: 50vh;
    background-color: lightblue;
}

.About h1{
    text-align: center;
    color: black;
}

.contact-info {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    position: relative;
    left: 200px;
}


.contact-info div {
    display: flex; /* Make each div a flex container */
    align-items: center; /* Align children vertically in the center */
    margin-bottom: 10px; /* Add some spacing between items */
}

.contact-info span {
    margin-right: 10px; /* Add spacing between icon and text */
}